@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100;300;400;500;700;900&display=swap');

/* style.css */
header {
    height: 100px; 
    line-height: 100px; 
}

header .navbar-brand img {
    max-height: 180px; 
}

.navbar-nav .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggler {
    display: none; /* Hidden by default */
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
}

.navbar-toggler.active {
    display: block; /* Show the toggle button */
}

.navbar-menu.active {
    display: flex; /* Show the menu when active */
    flex-direction: column;
}

/* Hero Section */
#hero {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-size: cover;
}

#hero h1 {
    font-size: 3rem; 
    color: #333;     
    margin: 0;      
    font-family: 'Roboto', sans-serif; 
}

#menu ul {
    list-style-type: none; 
    padding: 0;      
    font-family: 'Playwrite CU', sans-serif;
}

#menu ul li {
    padding-top: 10px;
    margin-bottom: 10px; 
    font-size: 1.1rem;   
    line-height: 1.4;  
}

/* Media Queries for Tablets and Smaller Devices */
@media (max-width: 768px) {
    body {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 2rem;
        padding-top: 40px;
        
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    .navbar-brand img {
        max-height: 100px;
    }

    .navbar-nav .nav-link {
        font-size: 1rem;
    }

    .navbar-toggler {
        display: none;
    }

    #hero {
        padding: 100px 0;
    }

    .container {
        padding: 0 20px;
    }
}

/* Media Queries for Phones and Smaller Devices */
@media (max-width: 480px) {
    body {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .navbar-brand img {
        max-height: 80px;
    }

    .navbar-nav .nav-link {
        font-size: 0.9rem;
    }

    .navbar-toggler {
        display: block;
    }

    #hero {
        padding: 30px 0;
    }

    .social-links a {
        font-size: 1.2rem;
    }
}
